.experiments-container{
	display: block;
	position: relative;
	max-width: 1440px;
	margin: auto;
	padding-top: 60px;
	padding-left: 50px;
	padding-right: 50px;
}

.experiments-container .headline{
	font-family: $font-2;
	font-size: 24px;
	color: white;
	text-align: center;
	margin-bottom: 20px;
	-webkit-font-smoothing: antialiased;
}

.experiments-container .mobile-headline{
	font-family: $font-2;
	font-size: 16px;
	color: white;
	text-align: center;
	margin-bottom: 20px;
	-webkit-font-smoothing: antialiased;
	display: none;
}

.experiments-container .row{
	display: inline-block;
	position: relative;
	margin-bottom: 8px;
	height:100%;
	width:100%;
	
}

.experiments-container .top{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 0;
	margin-bottom: 40px;
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}



.experiments-container .top .source.active{
	position: relative;
	opacity: 1;
	animation: fadeIn .3s, left .3s;
}

.experiments-container .top .source.active-prev{
	position: relative;
	opacity: 1;
	animation: fadeIn .3s, right .3s;
}

.experiments-container .top .image-wrapper{
	order: 2;
	flex-grow: 2;
	position: relative;
	height: 350px;
}

.experiments-container .top .image{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	display: inline-block;
	opacity: 1;
	padding: 8px;
	height: 300px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	border: 2px solid $neon-blue;
	box-shadow: inset 0 0 1px #000,  inset 0 0 2px #FFF, inset 0 0 5px $neon-blue, inset 0 0 15px $neon-blue, 0 0 1px #000, 0 0 2px #FFF, 0 0 5px $neon-blue, 0 0 15px $neon-blue;
	//animation: chameleon 32s infinite;
	overflow: hidden;
	
	.source{
		position: relative;
		display: none;
		height: 100%;
		width: 100%;
		background-repeat:  no-repeat;
		background-size:  cover;
	}

	.source.active{
		display: inline-block;
		position: relative;
		opacity: 1;
		animation: fadeIn .3s, left .3s;
	}

	.source.active-prev{
		display: inline-block;
		position: relative;
		opacity: 1;
		animation: fadeIn .3s, right .3s;
	}

}



#left-wrapper{
	order: 1;
}

#right-wrapper{
	order: 3;
}

.experiments-container .top .btn-wrapper{
	position: relative;
	flex-grow: 1;
	font-size: 0px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
}

.experiments-container .top .mobile-btn-row-wrapper{
	display: none;
}

.experiments-container .top .btn:active, .experiments-container .top .btn:hover{
	color: $dark-neon-orange;
	text-shadow: 0 0 1px #000, 0 0 2px #FFF, 0 0 5px $dark-neon-orange;
}

.left-btn{
	float: left;
}

.right-btn{
	float: right;
}

.experiments-container .top .btn{
	cursor: pointer;
	position: relative;
	width: 105px;
	height: 68px;
	top: 50%;
	transform: translateY(-50%);
	font-family: $font-2;
	font-size: 14px;
	color: $neon-blue;
	text-shadow: 0 0 1px #000, 0 0 2px #FFF, 0 0 5px $neon-blue;
	z-index: 3;

}

.experiments-container .top .btn .svg{
	position: absolute;
	top: 0;
	left: 0;
	width: 106px;
	height: 68px;
	pointer-events: none;
}

.experiments-container .top .btn .left, .experiments-container .top .btn .right{
	
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 60px;
	height: 48px;
	line-height: 48px;
}

.experiments-container .top .btn .left{
	left:35px;
	text-align: left;
	padding-left: 4px;
	pointer-events: none;
}

.experiments-container .top .btn .right{
	left:8px;
	text-align: right;
	padding-right: 4px;
	pointer-events: none;
}

.experiments-container .bottom{
	position: relative;
	font-size: 0;
	border: 2px solid $neon-blue;
	border-radius: 4px;
	box-shadow: inset 0 0 1px #000,  inset 0 0 2px #FFF, inset 0 0 5px $neon-blue, inset 0 0 15px $neon-blue, 0 0 1px #000, 0 0 2px #FFF, 0 0 5px $neon-blue, 0 0 15px $neon-blue;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 16px;
	padding-right: 16px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.experiments-container .details.active{
	display: block;
	opacity: 1;
	animation: fadeIn .3s;
}

.experiments-container .details{
	position: relative;
	display: none;
	opacity: 0;
}

.experiments-container .details .title{
	font-size: 16px;
	font-family: $font-4;
	color: $dark-neon-orange;
	text-shadow: 0 0 1px #000, 0 0 2px #FFF, 0 0 5px $dark-neon-orange;
	margin-bottom: 28px;
	text-align: center;
}

.experiments-container .detail{
	font-size: 12px;
	font-family: $font-3;
	color: $dark-neon-orange;
	text-shadow: 0 0 1px #000, 0 0 2px #FFF, 0 0 5px $dark-neon-orange;
	text-align: center;
	margin-bottom: 16px;
	line-height: 18px;
}

.experiments-container .details .btns-wrapper{
	position: relative;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 20px;
}

.experiments-container .details .btn-wrapper{
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.experiments-container .details .btn-wrapper #source-link{
	margin-left: 16px;
}

.experiments-container .details .btn:hover, .experiments-container .details .btn:active{
	color: $dark-neon-orange;
	text-shadow: 0 0 1px #000, 0 0 2px #FFF, 0 0 5px $dark-neon-orange;
	border: 2px solid $dark-neon-orange;
	border-radius: 4px;
	box-shadow: inset 0 0 1px #000,  inset 0 0 2px #FFF, inset 0 0 5px $dark-neon-orange, inset 0 0 15px $dark-neon-orange, 0 0 1px #000, 0 0 2px #FFF, 0 0 5px $dark-neon-orange, 0 0 15px $dark-neon-orange;
	
	
}

.experiments-container .details .btn{
	display: inline-block;
	text-decoration: none;
	color: $neon-blue;
	font-family: $font-3;
	text-shadow: 0 0 1px #000, 0 0 2px #FFF, 0 0 5px $neon-blue;
	border: 2px solid $neon-blue;
	border-radius: 4px;
	box-shadow: inset 0 0 1px #000,  inset 0 0 2px #FFF, inset 0 0 5px $neon-blue, inset 0 0 15px $neon-blue, 0 0 1px #000, 0 0 2px #FFF, 0 0 5px $neon-blue, 0 0 15px $neon-blue;
	padding: 8px;
	background-color: #000;
	position: relative;
	font-size: 12px;
	transition: all .2s ease-in-out;
}

@media screen and (max-width: 768px){
	.experiments-container{
		padding-left: 25px;
		padding-right: 25px;
	}

	.experiments-container .top{
		display: block;
	}

	.experiments-container .top .image-wrapper{
		height: 200px;
	}

	.experiments-container .top .image{
		margin-left: 0px;
		margin-right: 0px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 150px;
		width: 200px;

	}

	.experiments-container .top .btn-wrapper{
		display: none;
	}

	.experiments-container .top .mobile-btn-row-wrapper{
		display: block;
		width: 100%;
		height: 68px;
		margin-top: 20px;
		z-index: 1;
		position: relative;

		.btn{
			z-index: 3;
		}
	}


	.experiments-container .details .btn-wrapper{
		display: block;

		#source-link{
			margin-left: 0;
			margin-top: 16px;
		}

		.btn{
			left:50%;
			transform: translateX(-50%);
		}


	}

	.experiments-container .bottom{
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}

@media screen and (max-width: 480px){

	.experiments-container{
		padding-top: 20px;
	}

	.experiments-container .top{
		margin-bottom: 10px;
	}

	.experiments-container .top .image-wrapper{
		height: 200px;
	}

	.experiments-container .top .mobile-btn-row-wrapper{
		margin-top: 0px;
	}

	.experiments-container .top .image{
		margin-left: 0px;
		margin-right: 0px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 150px;
		width: 200px;
	}

	.experiments-container .bottom{
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}

	.experiments-container .detail{
		padding-left: 16px;
		padding-right: 16px;
		font-size: 10px;
	}

	.experiments-container .details .btn{
		font-size: 10px;
	}

}

@keyframes chameleon{
	0%{
		border: 2px solid $neon-blue;
		box-shadow: inset 0 0 1px #000,  inset 0 0 2px #FFF, inset 0 0 5px $neon-blue, inset 0 0 15px $neon-blue, 0 0 1px #000, 0 0 2px #FFF, 0 0 5px $neon-blue, 0 0 15px $neon-blue;
	}
	25%{
		border: 2px solid $neon-purple;
		box-shadow: inset 0 0 1px #000,  inset 0 0 2px #FFF, inset 0 0 5px $neon-purple, inset 0 0 15px $neon-purple, 0 0 1px #000, 0 0 2px #FFF, 0 0 5px $neon-purple, 0 0 15px $neon-purple;
	}
	50%{
		border: 2px solid $neon-pink;
		box-shadow: inset 0 0 1px #000,  inset 0 0 2px #FFF, inset 0 0 5px $neon-pink, inset 0 0 15px $neon-pink, 0 0 1px #000, 0 0 2px #FFF, 0 0 5px $neon-pink, 0 0 15px $neon-pink;
	}
	75%{
		border: 2px solid $neon-green;
		box-shadow: inset 0 0 1px #000,  inset 0 0 2px #FFF, inset 0 0 5px $neon-green, inset 0 0 15px $neon-green, 0 0 1px #000, 0 0 2px #FFF, 0 0 5px $neon-green, 0 0 15px $neon-green;
	}
	100%{
		border: 2px solid $neon-blue;
		box-shadow: inset 0 0 1px #000,  inset 0 0 2px #FFF, inset 0 0 5px $neon-blue, inset 0 0 15px $neon-blue, 0 0 1px #000, 0 0 2px #FFF, 0 0 5px $neon-blue, 0 0 15px $neon-blue;
	}

}

@keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes left {
	0%     { transform: translate(50%); }
	50%    { transform: translateX(-2px); }
	97.5%    { transform: translateX(2px); }
	100%   { transform: translateX(0%); }
}

@keyframes right {
	0% 	   { transform: translate(-50%); }
	50%	   { transform: translateX(2px); }
	97.5%    { transform: translateX(-2px); }
	100%   { transform: translateX(0%); }
}