.my-work-container{
	display: block;
	position: relative;
	max-width: 1440px;
	margin: auto;
	padding-top: 60px;
	padding-left: 50px;
	padding-right: 50px;
}

.my-work-container .headline{
	font-family: $font-2;
	font-size: 24px;
	color: white;
	text-align: center;
	margin-bottom: 20px;
	-webkit-font-smoothing: antialiased;
}

.my-work-container .mobile-headline{
	font-family: $font-2;
	font-size: 16px;
	color: white;
	text-align: center;
	margin-bottom: 20px;
	-webkit-font-smoothing: antialiased;
	display: none;
}

.my-work-container .row{
	display: inline-block;
	position: relative;
	margin-bottom: 8px;
	height:100%;
	width:100%;
	
}

.my-work-container .top{
	width: 100%;
	font-size: 0;
	margin-bottom: 40px;
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.my-work-container .top .image.active{
	position: relative;
	opacity: 1;
	animation: fadeIn .3s, left .3s;
}

.my-work-container .top .image.active-prev{
	position: relative;
	opacity: 1;
	animation: fadeIn .3s, right .3s;
}



.my-work-container .top .image{
	position: relative;
	cursor: pointer;
	opacity: 1;
	order: 2;
	flex-grow: 3;
	padding-left: 40px;
	padding-right: 40px;
	height: 250px;
	background-color: #666;
}

#left-wrapper{
	order: 1;
}

#right-wrapper{
	order: 3;
}

.my-work-container .top .btn-wrapper{
	position: relative;
	flex-grow: 1;
	font-size: 0px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
}

.my-work-container .top .mobile-btn-row-wrapper{
	display: none;
}

.my-work-container .top .btn:active, .my-work-container .top .btn:hover{
	color: $dark-neon-orange;
	text-shadow: 0 0 1px #000, 0 0 2px #FFF, 0 0 5px $dark-neon-orange;
}

.left-btn{
	float: left;
}

.right-btn{
	float: right;
}

.my-work-container .top .btn{
	cursor: pointer;
	position: relative;
	width: 105px;
	height: 68px;
	font-size: 16px;
	top: 50%;
	transform: translateY(-50%);
	font-family: $font-2;
	font-size: 14px;
	color: $neon-blue;
	text-shadow: 0 0 1px #000, 0 0 2px #FFF, 0 0 5px $neon-blue;


}

.my-work-container .top .btn .svg{
	position: absolute;
	top: 0;
	left: 0;
	width: 106px;
	height: 68px;
}

.my-work-container .top .btn .left, .my-work-container .top .btn .right{
	
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 60px;
	height: 48px;
	line-height: 48px;
}

.my-work-container .top .btn .left{
	left:35px;
	text-align: left;
	padding-left: 4px;
}

.my-work-container .top .btn .right{
	left:8px;
	text-align: right;
	padding-right: 4px;
}

.my-work-container .bottom{
	position: relative;
	width: 100%;
	font-size: 0;
	background-color: rgba(150, 150, 150, .5);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 16px;
	padding-right: 16px;
}

.my-work-container .details.active{
	display: block;
	opacity: 1;
	animation: fadeIn .3s;
}

.my-work-container .details{
	display: none;
	opacity: 0;
}

.my-work-container .detail{
	font-size: 16px;
	color: black;
	margin-bottom: 10px;
	text-align: center;
}

.my-work-container .details .btn-wrapper{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top:20px;
}

.my-work-container .details .btn:hover, .my-work-container .details .btn:active{
	background-color: #B06A47;
	border: 2px solid #3E1500;
}

.my-work-container .details .btn{
	display: inline-block;
	text-decoration: none;
	color: white;
	padding: 8px;
	border: 2px solid #B06A47;
	background-color: #3E1500;
	position: relative;
	margin-right: 10px;
	font-size: 18px;
	transition: all .2s ease-in-out;
}

@media screen and (max-width: 768px){

	.my-work-container .top{
		display: block;
	}

	.my-work-container .top .image{
		display: block;
	}

	.my-work-container .top .btn-wrapper{
		display: none;
	}

	.my-work-container .top .mobile-btn-row-wrapper{
		display: block;
		width: 100%;
		height: 68px;
		margin-top: 20px;
	}
}

@media screen and (max-width: 480px){

	.my-work-container .bottom{
		padding-left: 0;
		padding-right: 0;
	}

	.my-work-container .details{
		padding-left: 16px;
		padding-right: 16px;
	}

}

@keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes left {
	0%     { transform: translate(50%); }
	50%    { transform: translateX(-2px); }
	97.5%    { transform: translateX(2px); }
	100%   { transform: translateX(0%); }
}

@keyframes right {
	0% 	   { transform: translate(-50%); }
	50%	   { transform: translateX(2px); }
	97.5%    { transform: translateX(-2px); }
	100%   { transform: translateX(0%); }
}