$neon-blue: #22b1c1;
$neon-orange: lighten(#EE964B, 0%);
$dark-neon-blue: darken($neon-blue, 10%);
$darker-neon-blue: darken($neon-blue, 30%);
$dark-neon-orange: #c06213;

$neon-purple: #6600cc;
$neon-pink: #ff80df;
$neon-green: #80ff80;
$neon-dark-blue: #3366ff;

$font-1: 'Monoton', cursive;
$font-2: 'Audiowide', cursive;
$font-3: 'Press Start 2P', cursive;
$font-4: 'Russo+One', sans-serif;