html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= "My Name Is Ohm"
		link(href='../css/normalize.css', rel='stylesheet')
		link(href='../css/main.css', rel='stylesheet')
		link(href="https://fonts.googleapis.com/css?family=Audiowide|Monoton|Press+Start+2P|Russo+One" rel="stylesheet")
		script(src="..//js/snap.svg-min.js")
		script(src="../../node_modules/jquery/dist/jquery.min.js")
	body
		.main-wrapper
			include nav.pug
			include experiments.pug