script(src="../js/landing.js")
.landing-container
	.content
		.left
			h1.name Joshua Ohm
			h2.title Developer from<br>the Pacific Northwest
			h3.passions Passionate about: <br>
				.passion#passion
				.cursor.empty
			
		.right
			canvas(id="sphere3d" width="200" height="200")

			