script(src="../js/my-work.js")
.my-work-container
	.row
		.top
			.btn-wrapper#left-wrapper
				.btn.left-btn
					svg.svg#prev
					.left Prev
			.image-wrapper
				a(href="").image
					.source(id="img-0" style="background-image: url('../assets/img/acco-big.jpg');").active
					.source(id="img-1" style="background-image: url('../assets/img/cheetosstore-big.jpg');")
					.source(id="img-2" style="background-image: url('../assets/img/neustar.jpg');")
					.source(id="img-3" style="background-image: url('../assets/img/jim-beam.jpg');")

			.btn-wrapper#right-wrapper
				.btn.right-btn
					svg.svg#next
					.right Next

			.mobile-btn-row-wrapper
				.btn.left-btn
					svg.svg#mobile-prev
					.left Prev

				.btn.right-btn
					svg.svg#mobile-next
					.right Next

		.bottom
			.details.active#details-0
				.detail Handled front end and back end for the landing page and faqs page
				.detail Implemented a custom CMS in Laravel for client to manage carousel items and links
				.btn-wrapper
					a(href='http://acco.org').btn.link View Site
			.details#details-1
				.detail Two
				.detail Three
				.detail Four
				.btn-wrapper
					a(href='https://www.cheetosstore.com/').btn.link View Site
			.details#details-2
				.detail It's
				.detail Dangerously
				.detail Cheesey
				.btn-wrapper
					a(href='https://www.cheetosstore.com/').btn.link View Site
			.details#details-3
				.detail Lots
				.detail of
				.detail Barrels
				.btn-wrapper
					a(href='https://www.cheetosstore.com/').btn.link View Site 

