script(src="../js/my-work.js")
.my-work-container
	.row
		.top
			.btn-wrapper#left-wrapper
				.btn.left-btn
					svg.svg#prev
					.left Prev

			a(href="/" id="img-0").image
				img(src="")

			.btn-wrapper#right-wrapper
				.btn.right-btn
					svg.svg#next
					.right Next

			.mobile-btn-row-wrapper
				.btn.left-btn
					svg.svg#mobile-prev
					.left Prev

				.btn.right-btn
					svg.svg#mobile-next
					.right Next

		.bottom
			.details.active#details-0
				.detail One
				.detail Two
				.detail Three
			.btn-wrapper
				a(class="btn link" href="/") View Site

