script(src="../js/nav.js")
.nav
	svg#nav-border

	.items
		a(href="index.html").one.item.home-link Home
		a(href="my-work-page.html").two.item.my-work-link My Work
		a(href="/my-projects").three.item.my-projects-link Experiments